body {
	height: 1125px;
}

.gallery-pic {
	width: 375px;
	height: 304px;
}

.tableContainer {
	
}

#sneaker-photos {
	width: 380px;
}

#sneaker-photos2 {
	width: 380px;
}

#sneaker-photos3 {
	width: 380px;
}